body {
    justify-content: center;
    background-color: palegoldenrod;
    font-family: 'sans-serif';
}

 h1 {
    margin-right: 55px; 
}

h2 {
margin-right: 55px;
}

nav p {
    display: block;
    align-items: center;
    font-size: 20px; 
    margin: auto; 
    height: 50px;
}

button {
    display:block; 
    margin-top: 20px; 
    margin-left: 120px;
    height: 50px;
    width: 105px;  
} 

button:hover {
    background-color:aquamarine
}

section #final-score{
    display:center; 
    text-align: center;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    width:400px;
    padding:20px;
    margin-top:20px;
}

article {
    font-size: 30px;
}

input {
    margin-right: 60px;
}










