body {
    justify-content: center;
    background-color: palegoldenrod;
    font-family: 'sans-serif'; 
}

h1 {
    margin-right: 55px; 
}

.scorepage h1 {
    margin-right: 55px; 
}

h2 {
    margin-right: 55px; 
}

#title {
    margin-left: 45px;
}

nav p {
    display: block;
    align-items: center;
    font-size: 20px; 
    margin: auto; 
    height: 50px;
}
 .scorepage  {
    display:block; 
    margin-left: auto; 
    margin-right: auto; 
} 

button {
    display:block; 
    margin-top: 20px; 
    margin-left: 135px;
    height: 50px;
    width: 105px;  
} 

.scorepage button:hover {
    background-color:aquamarine;
}

button:hover {
    background-color:aquamarine
}

section {
    display:center; 
    text-align: center;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    width:400px;
    padding:10px;
}

#final-score{
    display:block;
    text-align: center;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
} 

#stats {
    margin-left: 5px;
}

.scorepage article {
    font-size: 30px;
}
 input {
    height: 20px;
    width: 50px;
 }

#clear2 {
margin-left: 120px;
 }

 #refresh {
    margin-left: 45px; 
 }










