body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: palegoldenrod;
    font-family: 'sans-serif'; 
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto 0;
    height: 100px;
    width: 105px;
    border: none; /* Remove default border */
    border-radius: 5px; /* Add border radius for rounded corners */
    padding: 10px; /* Add padding inside the button */
    cursor: pointer; /* Show pointer cursor on hover */
}

@media (hover: none) {
    button:hover { color: inherit; }
  }

#start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto 0;
    height: 100px;
    width: 105px;
    border: none; /* Remove default border */
    border-radius: 5px; /* Add border radius for rounded corners */
    padding: 10px; /* Add padding inside the button */
    cursor: pointer; /* Show pointer cursor on hover */
}

@media (hover: none) {
    #start-button:hover { color: inherit; }
  }

.scorepage button:hover {
    background-color:aquamarine;
}

button:hover {
    background-color:aquamarine;
}

#start-button:hover {
    background-color:aquamarine;
}

.container {
    display:center; 
    text-align: center;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    width:400px;
    padding:10px;
    margin-bottom: 50%;
}

#final-score {
    margin-right: 20px;
}

#high-scores {
    display:center; 
    text-align: center;
    font-size: x-large;
    margin-left: -20px;
    max-height: 400px;
    width:400px;
    padding:10px;
}

/* #score {
    margin-right: 20px;
} */

 input {
    height: 20px;
    width: 50px;
    /* margin-right: 20px; */
 }

 /* @media (max-width: 500px) {
    button:hover {
    background-color:#EFEFEF;
}
  }

  @media (max-width: 500px) {
    section {
      display: center;
      flex-direction: column;
      text-align: center;
      font-size: 12px;
    }
  }

  @media (max-width: 500px) {
    button {
    font-size: 12px;
    height: 80px;
}
  }
  
  @media (max-width: 500px) {
    #score {
    margin-right: 5px;
}
  } */




 



 
 


  










